video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

body {
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
    padding: 50px;
}

.wrapper {
    background-color: white;
    min-height: 150px;
    max-width: 900px;
    margin: 25px auto;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.wrap-link {
    text-align: center;
    margin-bottom: 25px;
}

input {
    margin-right: 15px;
}

input[type="text"] {
    max-width: 300px;
}

.btn {
    align-self: flex-start;
}

.mb-3 {
    justify-content: space-around;
}

.validation ul {
    list-style: none;
}